*{
    margin: 0;
    padding: 0;
}
/*fuente*/ 
@font-face{
    font-family: bro;
    src: url(../fuente/BrothersBold.otf);
}

body{
    font-family: bro;
    background-color: #202020;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}
.contenedorMenu{
    display: flex;
}

.nav-item{
    font-size: 22px;    
}
main div{
    align-items: center;
}

.bienvenidos{
    color:#B3903A;
    font-size: 110px;
    
}
.bienvenida{
    color: whitesmoke;
    font-size: 30px;
    padding-left: 15px;    
}
.imgHome1{
    margin-top: 20px;
}
.hashtagMBox{
    font-size: 120px;
}
.linkHomeNosotros a{
    border: 3px solid #B3903A;
    padding: 20px;
    text-decoration: none;
    color: #B3903A;
    border-radius: 30px;    
    display: inline-block;
    margin-top: 15px;
    margin-left: 80px;   
}   
.linkHomeNosotros a:hover{
    transform: scale(1.1);
    transition: 0.7s;
} 
#carouselExampleControls{
    padding-top: 10px;
}
footer{
    text-align: center;
    height: auto;    
    bottom: 0;      
}
div .magicFooter a{
    text-decoration: none;
    color: #B3903A;
}
div .derechosFooter{
    color: whitesmoke;
}

.encabezadoHomeMenu{
    font-size: 100px;
    color: #B3903A;
}
.parrafoHomeMenu{
    font-size: 30px;
    color: whitesmoke;
}
.linkHomeMenu a{
    border: 3px solid #B3903A;
    text-decoration: none;
    color: #B3903A;
    border-radius: 30px; 
    padding: 15px;      
}
.linkHomeMenu:hover{
    transform: scale(1.1);
    transition: 1s;    
}
.seccionRedes{
    margin-top: 20px;
}
.redesHome{
    font-size: 50px;
    color: #424242;
}
.imgFinalHome{
    margin-top: 20px;
}
/*MENU*/
.encabezadoMenu{
    margin: 1rem;
}
.h1Menu{
    color:#B3903A;
    font-size: 100px;
    text-align: center;
}
.parrafoMenu{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;    
}
.intervaloMenu{
    font-size: 80px;
    text-align: center;
    color: #424242;
}
.gustoTitulo{
    color: #B3903A;
    font-size: 30px;
}
.gustoDescripcion{
    color: whitesmoke;
}
.pedirMenu a{
    border: 3px solid #B3903A;
    text-decoration: none;
    color: #B3903A;
    border-radius: 20px; 
    padding: 5px;      
}
.mainMenu{
    display: grid;
    grid-template-areas: "h1Menu"
                         "parrafoMenu"
                         "intervaloMenu"
                         "imgMenu1"
                         "imgMenu2"
                         "imgMenu3"
                         "imgMenu4"
                         "imgMenu5"
                         "imgMenu6";
    justify-content: center;
}

.h1Menu{
    grid-area: h1Menu;
}
.parrafoMenu{
    grid-area: parrafoMenu;
}
.intervaloMenu{
    grid-area: intervaloMenu;
}
.imgMenu1{
    grid-area: imgMenu1;
    text-align: center;
    margin: 1rem;
}
.imgMenu2{
    grid-area: imgMenu2;
    text-align: center;
    margin: 1rem;
}
.imgMenu3{
    grid-area: imgMenu3;
    text-align: center;
    margin: 1rem;
}
.imgMenu4{
    grid-area: imgMenu4;
    text-align: center;
    margin: 1rem;
}
.imgMenu5{
    grid-area: imgMenu5;
    text-align: center;
    margin: 1rem;
}
.imgMenu6{
    grid-area: imgMenu6;
    text-align: center;
    margin: 1rem;
}

@media only screen and (min-width: 768px){
    .mainMenu{
        display: grid;
        grid-template-columns: "h1Menu h1Menu h1Menu"
                               "parrafoMenu parrafoMenu parrafoMenu"
                               "intervaloMenu intervaloMenu intervaloMenu"
                               "imgMenu1 imgMenu2 imgMenu3"
                               "imgMenu4 imgMenu5 imgMenu6";
        justify-content: center;
        align-items: center; 
                    
    }    
}

/*COMO PEDIR*/

/*formulario*/

.h1Contacto{
    color: #B3903A;
    font-size: 100px;
}
.camposForm{
    color: whitesmoke;
}
.encabezadoForm{
    background-color:#8a7131;
    border: 3px solid #B3903A;
    padding: px;    
    color: #B3903A;
    border-radius: 30px;   
}
.encabezadoForm h3:hover{
    transform: scale(1.1);
    transition: 0.7s;
    text-transform: uppercase;
}
.encabezadoForm h3{
    color: #202020;
    font-size: 40px;
}
.mensajeForm{
    height: 100px;
}
.enviarForm{
    text-transform: uppercase;
}
form div label{
    font-size: 25px;
}
.contactanos{
    color: whitesmoke;
    font-size: 35px;
}